<!-- @include header.html -->
<div class="flex flex-col items-center justify-center text-center min-h-full">
    <h1 class="text-5xl font-bold tracking-wide text-grey-lightest uppercase">
        Análisis del dataset
    </h1>
    <h2 class="text-4xl font-medium text-grey-lightest pt-4">
        de un conocido sitio comida online uruguayo
    </h2>
    <h3 style="font-family: Segoe UI Emoji" class="text-3xl font-medium text-grey-lightest pt-4">(😉 😉)</h3>
    <div class="text-4xl font-medium text-grey-lightest pt-4">
        <a class="normal-case" target="_blank" href="https://pedidosya.j3j5.rocks/">https://pedidosya.j3j5.rocks</a>
    </div>
</div>
<!-- @include footer.html -->
