<!-- @include header.html -->
<div class="flex flex-col items-center justify-center text-center min-h-full">
    <div class="flex flex-col items-center justify-center text-center min-h-full">
        <h1 class="text-5xl font-bold tracking-wide text-grey-lightest uppercase">¿De dónde viene la idea?</h1>
    </div>
</div>
<!-- @include footer.html -->
