<div class="flex flex-col items-center justify-center text-center min-h-full">
    <div class="pb-8">
        <a class="text-3xl font-bold tracking-wide text-grey-lightest" href="https://reddit.com/r/dataisbeautiful" target="_blank">
            https://reddit.com/r/dataisbeautiful
        </a>
    </div>
    <div class="max-w-sm">
        <img class="w-full" src="img/screens/data-is-beautiful.jpg">
    </div>
</div>
