<div class="flex flex-col items-center justify-center text-center min-h-full">
    <div class="text-4xl font-bold tracking-wide text-grey-lightest pb-8">
        Nicholas Rossi
    </div>
    <div class="max-w-sm pb-8">
        <img class="" src="img/screens/nicholas-rossi.jpg">
    </div>
    <div class="pb-8">
        <a class="text-3xl font-bold tracking-wide text-grey-lightest" href="http://www.rossidata.com/pizza" target="_blank">
            http://www.rossidata.com/pizza
        </a>
    </div>
</div>
