<!-- @include header.html -->
<div class="flex flex-col items-center justify-center text-center min-h-full">
    <h1 class="text-5xl leading-loose tracking-wide text-grey-lightest uppercase">¿Cómo podría hacer algo parecido para Uruguay?</h1>
</div>
<!-- @include footer.html -->
