<div class="flex flex-col items-center justify-center text-center min-h-full">
    <div class="text-5xl font-bold leading-loose tracking-wide text-grey-lightest">PedidosYa</div>
    <div class=" mt-8">
        <img class="align-middle w-1/3" src="img/screens/pedidosya.jpg">
        <img class="align-middle w-1/3" src="img/screens/juanker.jpg">
    </div>
    <div class="text-4xl font-bold leading-loose tracking-wide text-grey-lightest uppercase mt-8">Web Scraping FTW!</div>
</div>
