<div class="flex flex-col items-center justify-center text-center min-h-full">
    <div class="">
        <img src="img/screens/precios-1.jpg" class="w-4/5">
    </div>
    <div class="">
        <img src="img/screens/precios-2.jpg" class="w-4/5">
    </div>
</div>
