<div class="flex flex-col items-center justify-center text-center min-h-full">
    <ul>
        <li class="text-5xl tracking-wide text-grey-lightest pb-8 mb-8">
            <a href="https://laravel.com/">PHP (Laravel)</a>
        </li>
        <li class="text-5xl tracking-wide text-grey-lightest pb-8 mb-8">
            <a href="http://d3js.org/">D3 JS</a>
        </li>
        <li class="text-5xl tracking-wide text-grey-lightest pb-8 mb-8">
            <a href="https://gitlab.com/j3j5/PeYaScrapper">GitLab</a>
        </li>
    </ul>
    <!-- <div class="text-5xl tracking-wide text-grey-lightest uppercase pb-8">Refrescos</div> -->
    <!-- <div class="max-w-lg"> -->
        <!-- <img src="img/screens/refrescos-boxplot.jpg" class="w-full"> -->
    <!-- </div> -->
</div>
