<div class="flex flex-col items-center justify-center text-center min-h-full">
    <div class="text-5xl leading-loose tracking-wide text-grey-lightest">No es open data, pero casi <span style="font-family: Segoe UI Emoji">😜</span></div>
    <div class="">
        <img src="img/screens/pedidosya-html.jpg" class="w-full">
    </div>
</div>
