<!-- Notas:
    Hasta 10x más de diferencia

  -->
<div class="flex flex-col items-center justify-center text-center min-h-full">
    <div class="text-5xl font-bold tracking-wide text-grey-lightest uppercase pb-8">Milanesas y Pizzetas</div>
    <div class="max-w-lg">
        <img src="img/screens/milanesas.jpg" class="w-3/5">
        <img src="img/screens/pizzetas.jpg" class="w-3/5">
    </div>
</div>
