<!-- @include header.html -->
<div class="flex flex-col items-center justify-center text-center min-h-full">
    <h1 class="text-5xl tracking-wide text-grey-lightest uppercase pb-8">Cosas curiosas</h1>
    <h1 class="text-5xl tracking-wide text-grey-lightest uppercase pb-8">&</h1>
    <h1 class="text-5xl tracking-wide text-grey-lightest uppercase">Datos Interesantes</h1>
</div>
<!-- @include footer.html -->
