<!-- Notas:
    La patricia de litro va desde $90 hasta ~$250; 2.7x
    La zillertal de litro va desde 100 hasta 300; 3x
-->

<div class="flex flex-col items-center justify-center text-center min-h-full">
    <div class="text-5xl font-bold tracking-wide text-grey-lightest uppercase pb-8">Cerveza</div>
    <div class="max-w-lg">
        <img src="img/screens/cervezas-boxplot.jpg" class="w-full">
    </div>
</div>
