<!-- Notas:
    Un refresco de 500ml y uno de 600ml suelen salir lo mismo

  -->
<div class="flex flex-col items-center justify-center text-center min-h-full">
    <div class="text-5xl font-bold tracking-wide text-grey-lightest uppercase pb-8">Refrescos</div>
    <div class="max-w-lg">
        <img src="img/screens/refrescos-boxplot.jpg" class="w-full">
    </div>
</div>
