<!-- @include header.html -->
<div class="flex flex-col items-center justify-center text-center min-h-full">
    <h1 class="text-5xl font-bold tracking-wide text-grey-lightest uppercase">
        ¡Gracias!
    </h1>

    <div class="text-4xl font-medium text-grey-lightest pt-8">
        <i class="pr-2 far fa-envelope"></i><a class="normal-case" target="_blank" href="mailto:jfoulquie@gmail.com">jfoulquie@gmail.com</a>
    </div>
    <div class="text-4xl font-medium text-grey-lightest pt-8">
        <i class="pr-2 fab fa-twitter"></i><a class="normal-case" target="_blank" href="https://twitter.com/julioelpoeta">@julioelpoeta</a>
    </div>
    <div class="text-4xl font-medium text-grey-lightest pt-8">
        <i class="pr-2 fas fa-link"></i><a class="normal-case" target="_blank" href="https://datosycogollos.j3j5.rocks">https://datosycogollos.j3j5.rocks</a>
    </div>
    <div class="text-4xl font-medium text-grey-lightest pt-8">
        <i class="pr-2 fas fa-link"></i><a class="normal-case" target="_blank" href="https://pedidosya.j3j5.rocks">https://pedidosya.j3j5.rocks</a>
    </div>
</div>
<!-- @include footer.html -->
