<footer class="absolute pin-b pin-l pb-8 w-full">
    <div class="flex justify-between items-baseline">
        <div class="h-32 pl-8" >
            <img class="h-full" src="img/logo.png">
        </div>
        <div class="h-32 pr-8" >
            <img class="h-full" src="img/cogollo-uy2.png">
        </div>
    </div>
</footer>
