<header class="absolute pin-t pin-l pt-8 w-full">
    <div class="max-w-lg mx-auto my-8 text-center font-sans text-4xl">
        <div class="">
            <img class="h-32" src="img/datos-y-cogollos.png">
        </div>
    </div>
</header>
